<h2><%=t :my_personas_title %></h2>

<p><%=t :personas_intro %></p>

<ul>
  <% @personas.each do |persona| %>
  <li>
		<h3><%=h persona.title%></h3>
		<div class="options">
			<%= link_to t(:edit), edit_account_persona_path(persona) %>
			<%= link_to t(:delete), account_persona_path(persona), :confirm => t(:really_want_to_delete_persona, :title => h(persona.title)), :method => :delete %>
		</div>
  </li>
  <% end %>
</ul>

<%= link_to t(:create_a_new_persona), new_account_persona_path %>