<h2>Identity request from <%=h extract_host(@site.url) %></h2>
<% if sreg_request || ax_fetch_request %>
<p><strong><%=h checkid_request.trust_root %></strong> requests some personal data.<br />
Please select the information you would like to submit.</p>
<p class="note">The attributes shown are from your persona <strong><%=h @site.persona.title %></strong>.<br />
To submit other values you can <%= link_to "edit the persona", edit_account_persona_path(@site.persona, :return => decide_path(:persona_id => @site.persona.id)) %>
or <%= link_to_function "choose another persona", 'Element.toggle("persona_select")' %>.</p>
<% else %>
<p><strong><%=h checkid_request.trust_root %></strong> requires your authentication.</p>
<% end %>

<% form_tag decide_path, :method => :get, :id => 'persona_select', :style => 'display:none;' do %>

	<h3>Choose a persona</h3>
	<% unless current_account.personas.empty? %>
	<div class="row">
		<select id="persona_id" name="persona_id">
			<%= options_from_collection_for_select(current_account.personas, :id, :title, @site.persona.id) %>
		</select>
	</div>
	<div>
		<%= submit_tag "choose persona" %> or
		<%= link_to "create a new persona", new_account_persona_path(:return => decide_path) %>
	</div>
	<% end %>
	
<% end if sreg_request || ax_fetch_request %>

<% form_for @site, :url => complete_path do |f| %>

	<% if sreg_request || ax_fetch_request %>
	<table cellspacing="0">
    <tr>
			<th colspan="2"><h4>Requested information</h4></th>
			<th class="disclosure">disclosure</th>
		</tr>
		<% (sreg_request.required + sreg_request.optional).each do |property| %>
		<tr>
			<td><%= label_tag "site_sreg_#{property}", property_label_text(property) %></td>
			<td><%= label_tag "site_sreg_#{property}", @site.persona.property(property) %></td>
			<td>
				<%= check_box_tag "site[sreg][#{property}]", @site.persona.property(property), sreg_request.required.include?(property), :id => "site_sreg_#{property}", :class => sreg_request_for_field(property) %>
				<%= label_tag "site_sreg_#{property}", sreg_request_for_field(property), :class => 'note' %>
			</td>
		</tr>
		<% end if sreg_request %>
		<% ax_fetch_request.attributes.each do |property| %>
		<tr>
			<td><%= label_tag "site_ax_#{property.ns_alias}", property_label_text(property.ns_alias) %></td>
			<td><%= label_tag "site_ax_#{property.ns_alias}", @site.persona.property(property.type_uri) %></td>
			<td>
				<%= check_box_tag "site[ax][#{property.ns_alias}][value]", @site.persona.property(property.type_uri), property.required, :id => "site_ax_#{property.ns_alias}", :class => ax_request_for_field(property) %>
				<%= hidden_field_tag "site[ax][#{property.ns_alias}][type]", property.type_uri, :id => "site_ax_type_#{property.ns_alias}" %>
				<%= label_tag "site_ax_#{property.ns_alias}", ax_request_for_field(property), :class => 'note' %>
			</td>
		</tr>
		<% end if ax_fetch_request %>
	</table>
	<% end %>
	<div>
		<% if sreg_request || ax_fetch_request %>
		<%= f.hidden_field :persona_id %>
		<%= f.hidden_field :url %>
		<%= submit_tag 'Trust this site only this time', :name => 'temporary', :class => 'space' %>
		<%= submit_tag 'Always trust this site', :name => 'always', :class => 'space' %>
		<% else %>
		<%= submit_tag 'Approve this request', :name => 'temporary', :class => 'space' %>
		<% end %>
		<%= submit_tag 'Cancel this request', :name => 'cancel' %>
	</div>
	
<% end unless current_account.personas.empty? %>

