<h2><%= t(:questions_answers) %></h2>
<p><%=t :here_we_cover_openid_topics %></p>
<h3><%=t :openid_delegation %></h3>
<p><%=t :delegation_explanation %></p>
<pre>
&lt;link rel="openid2.provider openid.server" href="<%= endpoint_url %>" /&gt;
&lt;link rel="openid2.local_id openid.delegate" href="<%= identifier(logged_in? ? current_account : 'YOUR_LOGIN') %>" /&gt;
</pre>