<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title><%=h page_title %></title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="Shortcut Icon" href="/favicon.ico" type="image/x-icon" />
		<link rel="icon" href="/favicon.ico" type="image/ico" />
		<%= stylesheet_link_tag 'application' %>
	</head>
	<body>
		<div id="head">
			<h1><%= APP_CONFIG['name'] %></h1>
		</div>
		<div id="main">
			<div class="wrap">
				<h2>Please log in to proceed</h2>
				<% if checkid_request %>
    		<p><%= extract_host(checkid_request.trust_root) %> requests your identification and you need to log in to proceed.</p>
				<% end %>
				<p>To log in, please navigate to <strong><%= login_url(:protocol => scheme) %></strong>. The page your 
				are currently viewing is used to <strong>protect yourself from phishing and online identity theft</strong>
				and should contain no links.<br />If there are any links, please report to us, who sent you here.</p>
			</div>
		</div>
	</body>
</html>
