<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title><%=h page_title %></title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="Shortcut Icon" href="/favicon.ico" type="image/x-icon" />
		<link rel="icon" href="/favicon.ico" type="image/ico" />
		<%= stylesheet_link_tag 'application' %>
	</head>
	<body>
		<div id="head">
			<h1><%= APP_CONFIG['name'] %></h1>
		</div>
		<div id="main">
			<div class="wrap">
				<h2><%=t :login_to_proceed %></h2>
				<% if checkid_request %>
    		<p><%=t :host_requests_identification_you_need_to_login, :host => extract_host(checkid_request.trust_root) %></p>
				<% end %>
				<p><%=t :login_intro, :login_url => login_url(:protocol => scheme) %></p>
			</div>
		</div>
	</body>
</html>
