<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title><%=h page_title %></title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<% if identity_page? %>
		<meta http-equiv="X-XRDS-Location" content="<%= identity_url(:account => @account, :format => :xrds, :protocol => scheme) %>" />
		<link rel="openid.server openid2.provider" href="<%= endpoint_url %>" />
		<% elsif home_page? %>
		<meta http-equiv="X-XRDS-Location" content="<%= server_url(:format => :xrds, :protocol => scheme) %>" />
		<% end %>
		<link rel="seatbelt.config" type="application/xml" href="<%= seatbelt_config_url(:format => :xml, :protocol => scheme) %>" />
		<link rel="Shortcut Icon" href="/favicon.ico" type="image/x-icon" />
		<link rel="icon" href="/favicon.ico" type="image/ico" />
		<%= stylesheet_link_tag 'application' %>
		<%= javascript_include_tag 'prototype' %>
	</head>
	<body>
		<div id="head">
      <div class="wrap">
				<h1><%= link_to APP_CONFIG['name'], home_path %></h1>
				<ul id="navi">
				<% if logged_in? %>
					<% unless checkid_request %>
					<%= nav t(:my_identity), identity_path(current_account), 'accounts' => ['show'] %>
					<%= nav t(:my_profile), edit_account_path, 'accounts' => ['edit', 'update'] %>
					<%= nav t(:my_personas), account_personas_path, 'personas' => [] %>
					<%= nav t(:my_trusted_sites), account_sites_path, 'sites' => [] %>
					<%= nav t(:logout), logout_path %>
					<% else %>
					<%= nav t(:current_verification_request), proceed_path, 'server' => [] %>
					<% end %>
				<% else %>
					<%= nav t(:login_link), login_path, 'sessions' => ['new', 'create'] %>
					<%= nav t(:signup_link), new_account_path, 'accounts' => ['new', 'create'] %>
					<%= nav t(:help), help_path, 'info' => ['help'] %>
				<% end %>
				</ul>
			</div>
		</div>
		<div id="main">
			<div class="wrap">
    		<% if flash[:notice] %><div class="notice"><%=simple_format h(flash[:notice]) %></div><% end %>
    		<% if flash[:error] %><div class="error"><%=simple_format h(flash[:error]) %></div><% end %>
				<%= yield %>
			</div>
		</div>
		<div id="foot">
			<div class="wrap">
				<span class="note">
					powered by <%= link_to 'masquerade', 'http://dennisbloete.de/projects/masquerade/' %> 
					and <%= link_to "#{image_tag('openid_symbol.png')} OpenID", 'http://openid.net/' %> | 
					<%= link_to t(:get_help), help_path %>
				</span>
			</div>
		</div>
	</body>
</html>
