<h2><%=t :signup_title %></h2>

<%= error_messages_for :account %>

<% form_for :account, :url => account_path do |f| -%>
	<div class="row">
		<%= f.label :login, t(:login) %>
		<%= f.text_field :login %>
	</div>
	<div class="row">
		<%= f.label :email, t(:email) %>
		<%= f.text_field :email %>
	</div>
	<div class="row">
		<%= f.label :password, t(:password) %>
		<%= f.password_field :password %>
	</div>
	<div class="row">
		<%= f.label :password_confirmation, t(:password_confirmation) %>
		<%= f.password_field :password_confirmation %>
	</div>
	<div>
  		<%= f.submit t(:signup) %>
	</div>
<% end -%>
